<app-header [navbar]="drawer"></app-header>
<mat-drawer-container class="main-content">
  <mat-drawer #drawer class="main-sidenav" mode="side">
    <div class="button-container">
      <div class="navbar-buttons navbar-buttons-main">
        <button mat-button (click)="goToTarget('')">Home</button>
        <button mat-button (click)="goToTarget('clothes')">Clothes</button>
        <button mat-button (click)="goToTarget('outfits')">Outfits</button>
      </div>
      <div class="navbar-buttons navbar-buttons-other">
        <button mat-button (click)="goToTarget('settings')">Settings</button>
      </div>
    </div>
  </mat-drawer>

  <router-outlet></router-outlet>
</mat-drawer-container>
